<template>
  <v-container>
    <v-row>
      <v-col cols="11">
        <DateForm :hidden="dateFormDisable"></DateForm>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <Calendar :hidden="calendarDisable" :date="date"></Calendar>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import DateForm from "../components/DateForm";
import Calendar from "../components/Calendar";
import { isValid } from 'date-fns'

export default {
  name: 'Home',
  components: {
    DateForm,
    Calendar
  },
  beforeMount() {
    let search = window.location.search.substr(1)
    if (search !== undefined && search.length !== 0) {
      search = JSON.parse('{"' + decodeURI(search).replace(/"/g, '\\"').replace(/&/g, '","').replace(/=/g,'":"') + '"}')
     if (search.datum !== undefined){
       if(search.datum.length === 10){
         let date = new Date(search.datum)
         if (isValid(date)) {
          this.setDate(search.datum)
         }
       }
     }
    }
  },
  props: {
    //
  },
  data() {
    return {
      date: null,
      dateFormDisable: false,
      calendarDisable: '',
      disableClass: 'd-none'
    };
  },
  methods: {
    setDate: function (event){
      this.date = event
      if (this.date !== null) {
        this.dateFormDisable = true
        this.calendarDisable = false
      } else {
        this.dateFormDisable = false
        this.calendarDisable = true
      }
    }
  },
};
</script>
