<template>
  <v-container>
    <v-row>
      <v-col cols="2" v-for="(item, index) in events" :key="index">
        <v-card>
          <v-card-title>{{ item.name }}</v-card-title>
          <v-card-text>
            <small>{{ item.start }}</small>
            <p>{{ item.color }}</p>
            <v-col cols="2" :class=" item.color" style="height:20px;">
            </v-col>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import generate from "../plugins/eventGenerator";

export default {
  name: "TestView",
  async beforeMount() {
    this.events = await generate(this.date)
    console.log('eventek')
    console.log(this.events)
  },
  props: {

  },
  data(){
    return {
      events: []
    }
  }
}
</script>

<style scoped>

</style>
