<template>
  <row>
    <v-row>
      <v-col cols="12" sm="12">
        <v-sheet
            tile
            height="54"
            class="d-flex"
        >
          <v-btn
              icon
              class="ma-2"
              @click="prev"
          >
            <v-icon>mdi-chevron-left</v-icon>
          </v-btn>
          <p class="ma-2"><b>{{ title }}</b></p>
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                  class="ma-2"
                  style="width: 5px!important;"
                  @click="reset"
                  v-bind="attrs"
                  v-on="on"
              >
                <v-icon
                    large
                    color="black"
                >
                  {{ icons.restart }}
                </v-icon>
              </v-btn>
            </template>
            <span>Vissza a dátum választóhoz</span>
          </v-tooltip>

            <v-row>
              <v-col cols="2" sm="3" class="mt-2">
                Víznapok
              </v-col>
              <v-col class="mt-0">
                <v-switch
                    class="ma-2"
                    v-model="waterDay"
                    label=""
                    color="primary"
                    @change="changes"
                ></v-switch>
              </v-col>
            </v-row>


          <!--            <v-select
                          v-model="type"
                          :items="types"
                          dense
                          outlined
                          hide-details
                          class="ma-2"
                          label="type"
                      ></v-select>-->
          <v-spacer></v-spacer>
          <v-btn
              icon
              class="ma-2"
              @click="next"
          >
            <v-icon>mdi-chevron-right</v-icon>
          </v-btn>
        </v-sheet>
      </v-col>
    </v-row>
    <v-row class="mt-10">
      <v-col cols="11" sx="11" sm="12" md="12" lg="12">
        <v-sheet height="500">
          <v-calendar
              color="info"
              locale="hu"
              :show-week="true"
              ref="calendar"
              v-model="value"
              :weekdays="[1, 2, 3, 4, 5, 6, 0]"
              type="month"
              :events="events"
              event-overlap-mode="stack"
              :event-overlap-threshold="30"
          ></v-calendar>
          <!--            @change="getEvents"-->
        </v-sheet>
      </v-col>
    </v-row>
  </row>
</template>

<script>
import { mdiRestart } from '@mdi/js';
import generate from "../plugins/eventGenerator";
export default {
  name: 'Calendar',
  components: {
    //
  },
  async mounted () {
    this.$refs.calendar.checkChange()
    this.title = this.$refs.calendar.title;
    this.events = await generate(this.date,this.waterDay);
  },
  props: {
    date: String
  },
  data() {
    return {
      title: '',
      value: '',
      icons: {
        restart: mdiRestart
      },
      events: [],
      waterDay: false
    };
  },
  methods: {
    changes: async function (){
      this.events = await generate(this.date, this.waterDay)
    },
    prev: async function (){
      await this.$refs.calendar.prev()
      if (this.title !== this.$refs.calendar.title) {
        this.title = this.$refs.calendar.title
      }
    },
    next: async function (){
      await this.$refs.calendar.next()
      if (this.title !== this.$refs.calendar.title) {
        this.title = this.$refs.calendar.title
      }
    },
    reset: function (){
      window.location.href = window.location.origin
    },
  },
};
</script>
