<template>
  <v-container>
    <v-row class="mt-2">
      <v-col cols="12">
        <v-card>
          <v-card-title class="justify-center">
            <p style="font-size: 19px">Válaszd ki a diéta kezdő dátumát:</p>
          </v-card-title>
          <v-card-text>
            <v-row justify="center">
              <v-date-picker
                  locale="hu"
                  :show-week="true"
                  first-day-of-week="1"
                  v-model="picker"
                  prev-month-aria-label=""
                  next-month-aria-label=""
                  year-icon="mdi-calendar-blank"
                  prev-icon="mdi-skip-previous"
                  next-icon="mdi-skip-next"
                  @change="activateButton"
              ></v-date-picker>
            </v-row>
            <v-row class="justify-center">
              <v-col cols="12" class="text-center">
                <v-btn @click="getDate" :disabled="buttonVisible">
                  Mutasd a naptáram
                </v-btn>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12">
                <v-alert
                  :type="alert.type"
                  :value="alert.visible"
                >
                  {{ alert.message }}
                </v-alert>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'DateForm',
  components: {
    //
  },
  props: {
    //
  },
  data() {
    return {
      picker: null,
      buttonVisible: true,
      alert: {
        type: 'info',
        message: '',
        visible: false,
        second: 3
      }
    };
  },
  methods: {
    getDate: function (){
      if (this.picker === null) {
        this.setAlert('error','Nem válaszottál ki dátumot.',2);
      } else {
        window.location.href = window.location+'?datum='+this.picker
        //this.$parent.setDate(this.picker)
      }
    },
    activateButton: function (){
      if (this.picker !== null) {
        this.buttonVisible = false;
      } else {
        this.buttonVisible = true;
      }
    },
    setAlert: function (type,message,sec){
      this.alert.type = type
      this.alert.message = message
      this.alert.visible = true;
      setTimeout(() => {
        this.alert.visible = false;
      },sec*1000);
    },
  },
};
</script>
